<head>
	<script language="javascript" type="text/javascript" >
		<!--
		function refresh_page() {
			setTimeout("location.reload(true);");
		}

		function say_hi() {
			alert("It worked!!!");
		}
		// -->
	</script>
</head>

<body><h1>Hello World!!!</h1>
	<table><tr><td>User:</td><td>{{ user }}</td></tr></table>
	<!-- 'mayscript' Needed for server to trigger call on successful upload -->
	<applet 
	    code="com.softsynth.javasonics.recplay.RecorderUploadApplet"
	    codebase="/tonerecorder/codebase"
	    archive="JavaSonicsListenUp.jar,OggXiphSpeexJS.jar"
	    name="ListenUpRecorder"
	    frameRate="44100"
	    width="500"
	    height="240"
		mayscript="true" >
	    {% csrf_token %}
	
	    <!-- URL for the script which receives the uploaded sound file. -->
	    <param name="uploadURL" value="{% url 'tonerecorder.views.handle_upload' %}">

	    <!-- Name of uploaded sound file. Server can change it if needed. -->
	    <param name="uploadFileName" value="whatever.wav">                    
	</applet>
</body>
 