<head></head>

<body><h1>Hello World!!!</h1>
	<applet 
	    code="com.softsynth.javasonics.recplay.RecorderUploadApplet"
	    codebase="/tonerecorder/codebase"
	    archive="JavaSonicsListenUp.jar,OggXiphSpeexJS.jar"
	    name="ListenUpRecorder"
	    width="500"
	    height="240">
	    {% csrf_token %}
	
	    <!-- URL for the script which receives the uploaded sound file. -->
	    <param name="uploadURL" value="{% url tonerecorder.views.handle_upload %}">

	    <!-- Name of uploaded sound file. Server can change it if needed. -->
	    <param name="uploadFileName" value="whatever.wav">                    
	</applet>
</body>
 